
@{
    ViewBag.Title = "CodeofConduct";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paragraghStyle">
    <h2>CodeofConduct</h2>

    The Bhartiya Vrutta Sanstha – a privately owned news agency – is subject to the ethics and principles set up by ‘Vruttasanstha Editorial Board’, which has broadly adopted the norms set up by PCI, these are as follows;
    1.	The fundamental objective of journalism is to serve the people with news, views, comments and information on matters of public interest in a fair, accurate, unbiased, sober and decent manner. To this end, the Press is expected to conduct itself in keeping with certain norms of professionalism, universally recognised. The norms enunciated below and other specific guidelines appended thereafter, when applied with due discernment and adaptation to the varying circumstance of each case, will help the journalist to self-regulate his or her conduct.


    1.       Accuracy  and Fairness

    i) The Press shall eschew publication of inaccurate, baseless, graceless, misleading or distorted material. All sides of the core issue or subject should be reported. Unjustified rumours and surmises should not be set forth as facts.

    ii)  It is incumbent for newspapers to play a positive role in response to rumours affecting the credibility of financial institutions having public interface.

    iii)  While it is the duty of the press to expose the wrong doings that come to their notice, such reports need to be backed by irrefutable facts and evidences.

    2.       Pre-Publication Verification

    i)   On receipt of a report or article of public interest and benefit containing imputations or comments against a citizen, the editor should check with due care and attention its factual accuracy apart from other authentic sources- with the person or the organisation concerned to elicit his/her or its version, comments or reaction and publish the same alongside with due correction in the report where necessary.  In the event of lack or absence of response, a footnote to that effect may be appended to the report.

    ii) Publication of news such as those pertaining to cancellation of examinations or withdrawal of candidates from election should be avoided without proper verification and cross checking.

    iii) A document, which forms a basis of a news report, should be preserved at least for six months.

    3.      Caution against defamatory writings

    i) Newspaper should not publish anything which is manifestly defamatory or libellous against any individual/organisation unless after due care and verification, there is sufficient reason/evidence to believe that it is true and its publication will be for public good.

    ii) Truth is no defence for publishing derogatory, scurrilous and defamatory material against a private citizen where no public interest is involved.

    iii) No personal remarks which may be considered or construed to be derogatory in nature against a dead person should be published except in rare cases of public interest, as the dead person cannot possibly contradict or deny those remarks.

    iv) The Press has a duty, discretion and right to serve the public interest by drawing reader's attention to citizens of doubtful antecedents and of questionable character but as responsible journalists they should observe due restraint and caution in hazarding their own opinion or conclusion in branding these persons as 'cheats' or 'killers' etc. The cardinal principle being that the guilt of a person should be established by proof of facts alleged and not by proof of the bad character of the accused. In the zest to expose, the Press should not exceed the limits of ethical caution and fair comment.

    v) The Press shall not rely on objectionable past behaviour of a citizen to provide the background for adverse comments with reference to fresh action of that person. If public good requires such reference, the Press should make pre-publication inquiries from the authorities concerned about the follow up action, if any, in regard to earlier adverse actions.

    vi) Where the impugned publication is manifestly injurious to the reputation of the complainant, the onus shall be on the respondent to show that it was true or to establish that it constituted fair comment made in good faith and for public good.

    (vii) Newspapers cannot claim privilege or licence to malign a person or body claiming special protection or immunity on the plea of having published the item as a satire under special columns such as ‘gossip’, ‘parody’, etc.

    (viii) Publication of defamatory news by one paper does not give licence to others to publish news/information reproducing or repeating the same. The fact of publication of similar report by another publication does not bestow the status of accuracy on the charges.

    (ix) It is necessary that the press realize its responsibility to the society due to the unique position enjoyed by it in being able to interact directly with the citizenry and utilize its advantageous position for the betterment of the society and the advancement of the country rather than indulging in giving credence to rumours and sensationalism. It is also necessary that the press, particularly the small local press, learn to appreciate the clear distinction between matters of ‘public interest’ and ‘those in public interest’. While gossips and social dealings may be found to be of interest by the public but they serve no public purpose or interest and the press should scrupulously avoid wasting its precious space on such matters.

    (x) Insertion of out -of -context, uncalled for and irrelevant statements likely to malign a person or an organisation must be eschewed.

    (xi) Even while a newspaper has the liberty or even duty to report political developments, that reporting may not be with angularity. Freedom of Press does not give licence to a newspaper to malign a political leader or mar his future political prospects by publishing fake and defamatory writings.

    (xii) It must be remembered by the Press that the freedom of speech and expression enshrined in the democratic set up and enjoyed by the fourth estate also casts on it a responsibility. The newspapers are not expected to use it as a tool by itself creating evidence and later using the evidence to make false propaganda in its own journal.

    (xiii) The Press deserves accolades for bringing to light the inducements offered to influence their reporting and such exposure will not amount to defamation.

    (xiv)Locus Standi In cases involving personal allegations /criticism, only the concerned person enjoying the locus standi can move the plaint or claim right to reply. However a representative organisation of persons attached to an organisation or a sect / group has the locus standi to move complaints against a publication directly criticising the conduct of a leader.

    (xv)  Public Interest and Public Bodies As a custodian of public interest, the Press has a right to highlight cases of corruption and irregularities in public bodies but such material should be based on irrefutable evidence and published after due inquiries and verification from the concerned source and after obtaining the version of the person/authority being commented upon.  Newspapers should refrain from barbed, stinging and pungent language and ironical/satirical style of comment. The attempt of the press should be to so shake up the institutions as to improve their working, not to destroy them or the public confidence in their working or demoralize the workforce. A corresponding duty of course devolves on them to ensure that in doing so they present a fair and balanced report, uninfluenced by any extraneous consideration. The Press as a custodian of public interest and a protector of its rights is also expected to bring correct information to its notice so that it is able to correctly judge those to whom it has entrusted the responsibility of running the country.

    (xvi)   The media and the authorities are two very important pillars of our democracy and for the government to function successfully in public interest a press as responsible as watchful is an essential pre-requisite.

    4.    Parameters of the right of the Press to comment on the acts and conduct of public officials

    i) So far as the government, local authority and other organs/institutions exercising governmental power are concerned, they cannot bring charge of  defamation for reports critical of their acts and conduct relevant to the discharge of their official duties unless the official establishes that the publication was made with reckless disregard for the truth. However, judiciary, which is protected by the power to punish for contempt of court, and the Parliament and Legislatures, protected as their privileges are by Articles 105 and 194 respectively of the Constitution of India, represent exception to this rule.

    ii) The central and local bodies are not entitled to bring a civil or criminal action for defamation in respect of article/report criticising their functioning.

    iii) Publication of news or comments/information on public officials conducting investigations should not have a tendency to help the commission of offences or to impede the prevention or detection of offences or prosecution of the guilty. The investigative agency is also under a corresponding obligation not to leak out or disclose such information or indulge in misinformation.

    iv) The Official Secrets Act, 1923 or any other similar enactment or provision having the force of law equally bind the press or media though there is no law empowering the state or its officials to prohibit, or to impose a prior restraint upon the Press/media.

    v)  Those who hold public office and by their own conduct give scope for criticising them, cannot be heard to complain against such criticism.

    5.Criticism of public figures/music reviews

    An actor or singer who appears on a public stage submits his performance to the judgement of public and as such the critics’ comments having proximate nexus with the merits of artists performance can not be held to be defamatory.  However, the critics should refrain from writing anything, which could, be construed as remotely casting cloud on the artist’s personal credibility.

    6. Right to Privacy

    i) The Press shall not intrude or invade the privacy of an individual, unless outweighed by genuine overriding public interest, not being a prurient or morbid curiosity. So, however, that once a matter becomes a matter of public record, the right to privacy no longer subsists and it becomes a legitimate subject for comment by the Press and the media, among others. Special caution is essential in reports likely to stigmatise women.

    Explanation: Things concerning a person's home, family, religion, health, sexuality, personal life and private affairs are covered by the concept of PRIVACY excepting where any of these impinges upon the public or public interest.

    ii) Caution against Identification: While reporting crime involving rape, abduction or kidnap of women/females or sexual assault on children, or raising doubts and questions touching the chastity, personal character and privacy of women, the names, photographs of the victims or other particulars leading to their identity shall not be published.

    iii) Minor children and infants who are the offspring of sexual abuse or 'forcible marriage' or illicit sexual union shall not be identified or photographed.

    iv) Intrusion through photography into moments of personal grief shall be avoided. However, photography of victims of accidents or natural calamity may be in larger public interest.

    7.  Privacy of Public figures

    i)       Right to Privacy is an inviolable human right.  However, the degree of privacy differs from person to person and from situation to situation.  The public person who functions under public gaze as an emissary/representative of the public cannot expect to be afforded the same degree of privacy as a private person.  His acts and conduct as are of public interest (‘public interest’ being distinct and separate from ‘of interest to public’) even if conducted in private may be brought to public knowledge through the medium of the press.  The press has however, a corresponding duty to ensure that the information about such acts and conduct of public interest of the public person is obtained through fair means, is properly verified and then reported accurately.  For obtaining information in respect of acts done or conducted away from public gaze, the press is not expected to use surveillance devices.  For obtaining information about private talks and discussion while the press is expected not to badger the public persons, the public persons are also expected to bring more openness in their functioning and co-operate with the press in its duty of informing the public about the acts of their representatives.

    ii) The interviews/articles or arguments pertaining to public persons which border on events that are in public knowledge, if reported correctly, cannot be termed as intrusion into private life.  There is a very thin line between public and private life and public persons should not be too thick skinned to criticism.

    iii)     Newspapers are allowed latitude in criticising persons who are in seats of power because their conduct discloses public interest provided their criticism is not motivated to gratify private spite of opponent/rival of public figure.

    iv)   The family of public figures are not valid journalistic subject, more so if its reporting covers the minors. If “public interest” overrides the minor’s right to privacy it will be proper to seek prior consent of the parents.

    v) When the individual concerned himself or herself reveals facts about private life before a large gathering then the shield of privacy should be deemed to be abandoned by the individual.

    8.   Recording interviews and phone conversation

    i) The Press shall not tape-record anyone's conversation without that person's knowledge or consent, except where the recording is necessary to protect the journalist in a legal action, or for other compelling good reason.

    ii) The Press shall, prior to publication, delete offensive epithets used during such conversation.

    9.   Conjecture, comment and fact

    i) Newspaper should not pass on or elevate conjecture, speculation or comment as a statement of fact. All these categories should be distinctly identified.

    ii)  Cartoons and caricatures depicting good humour are to be placed in a special category of news that enjoy more liberal attitude.

    10.  Newspapers to eschew suggestive guilt

    i) Newspapers should eschew suggestive guilt by association. They should not name or identify the family or relatives or associates of a person convicted or accused of a crime, when they are totally innocent and a reference to them is not relevant to the matter being reported.

    ii) It is contrary to the norms of journalism for a paper to identify itself with and project or promote the case of any one party in the case of any controversy/dispute.

    11. Reporting Proceedings of Legislature

    The newspapers have a duty to report faithfully the proceedings of either House of Parliament, Legislative Assembly and in this regard the newspapers shall not be liable for any proceedings civil or criminal in any court unless it is proved that reportings have been made with malice.  However, the newspapers should not publish any report based on proceedings of a sitting of either House of Parliament or Legislative Assembly or as the case may be either House of the Legislature of a State, which is not open to the media.

    12. a) Caution in criticising judicial acts

    i) Excepting where the court sits 'in-camera' or directs otherwise, it is open to a newspaper to report pending judicial proceedings, in a fair, accurate and reasonable manner. But it shall not publish anything :--which, in its direct and immediate effect, creates a substantial risk of obstructing, impeding or prejudicing seriously the due administration of justice;   or -is in the nature of a running commentary or debate, or records the paper's own findings conjectures, reflection or comments on issues, sub judice and which may amount to abrogation to the newspaper the functions of the court; or -regarding the personal character of the accused standing trial on a charge of committing a crime.

    ii) Newspaper shall not as a matter of caution, publish or comment on evidence collected as a result of investigative journalism, when, after the accused is arrested and charged, the court becomes seized of the case: Nor should they reveal, comment upon or evaluate a confession allegedly made by the accused.

    iii) While newspapers may, in the public interest, make reasonable criticism of a judicial act or the judgement of a court for public good; they shall not cast scurrilous aspersions on, or impute improper motives, or personal bias to the judge. Nor shall they scandalise the court or the judiciary as a whole, or make personal allegations of lack of ability or integrity against a judge.

    iv) Newspaper shall, as a matter of caution, avoid unfair and unwarranted   criticism which, by innuendo, attributes to a judge extraneous consideration for performing an act in due course of his/her judicial functions, even if such criticism does not strictly amount to criminal Contempt of Court.

    b) Reporting  News pertaining to Court Proceedings

    Before publishing a news item about court proceedings, it will be appropriate for the correspondent and editor to ascertain its genuineness and, correctness and authenticity from the records so that the concerned person can be held guilty and accountable for furnishing incorrect facts or wrong information about the court proceedings.

    13. Corrections

    When any factual error or mistake is detected or confirmed, the newspaper should suo-motu publish the correction promptly with due prominence and with apology or expression of regrets in a case of serious laps.

    14.  Right of Reply

    i)The newspaper should promptly and with due prominence, publish either in full or with due editing, free of cost, at the instance of the person affected or feeling aggrieved/or concerned by the impugned publication, a contradiction/reply/ clarification or rejoinder sent to the editor in the form of a letter or note. If the editor doubts the truth or factual accuracy of the contradiction/reply/clarification or rejoinder, he shall be at liberty to add separately at the end, a brief editorial comment doubting its veracity, but only when this doubt is reasonably founded on unimpeachable documentary or other evidential material in his/her possession. This is a concession which has to be availed of sparingly with due discretion and caution in appropriate cases

    ii) However, where the reply/contradiction or rejoinder is being published in compliance with the directions of the Press Council, it is permissible to append a brief editorial note to that effect.

    iii) Right of rejoinder cannot be claimed through the medium of Press Conference, as publication/coverage of a news of a conference is within the discretionary powers of an editor.

    iv) Freedom of the Press involves the readers' right to know all sides of an issue of public interest. An editor, therefore, shall not refuse to publish the reply or rejoinder merely on the ground that in his opinion the story published in the newspaper was true. That is an issue to be left to the judgement of the readers. It also does not behove an editor to show contempt towards a reader.

    v) The press has to remember that it is not a prosecutor in any investigation and should be guided by the paramount principle of a person’s innocence unless the alleged offence is proved beyond doubt by independent reliable evidence and, therefore, even within the constraint of space, the material facts should find space in the rejoinder so that the public, as the ultimate judge of any matter, is guided by the complete and accurate facts in forming its opinion.  The readers’ right to know all sides of any issue of public importance is a natural corollary of the freedom enjoyed by the press in a democracy.

    15.Letters to editor

    i) An editor who decides to open his columns for letters on a controversial subject, is not obliged to publish all the letters received in regard to that subject. He is entitled to select and publish only some of them either in entirety or the gist thereof. However, in exercising this discretion, he must make an honest endeavour to ensure that what is published is not one-sided but represents a fair balance between the views for and against with respect to the principal issue in controversy.

    ii) In the event of rejoinder upon rejoinder being sent by two parties on a controversial subject, the editor has the discretion to decide at which stage to close the continuing column.

    16. Editors’ Discretion

    i) In the matter of writing an editorial, the editor enjoys a good deal of latitude and discretion.  It is for him to choose the subject and it is also for him to use such language as he considers appropriate, provided that in writing the editorial he doesn't transgress the law and violate the norms of journalism and   editorial comments, views published in the newspaper are couched in sober, dignified and socially acceptable language.

    ii) Selection of the material for publication as reports/articles/letters lies within the discretion of an editor. It is his duty to see that on a controversial issue of public interest, all views are given equal prominence so that the people can form their independent opinion in the matter.

    iii) The editor should not publish the news report/article if his mind is in doubt about the truth of the news report/article.  If the veracity of any part of the news report/article is in doubt, that portion should be omitted and rest be published provided the editor is satisfied that the remainder is substantially true and its publication will be for public benefit.

    17.     Obscenity and vulgarity to be eschewed

    i) Newspapers/journalists shall not publish anything which is obscene, vulgar or offensive to public good taste.

    ii)  Newspapers shall not display advertisements which are vulgar  or which, through depiction of a woman in nude or lewd posture, provoke lecherous attention of males as if she herself was a commercial commodity for sale.

    iii ) Whether a picture is obscene or not, is to be judged in relation to three tests; namely

    a) Is it vulgar and indecent?

    b) Is it a piece of mere pornography?

    c) Is its publication meant merely to make money by titillating the sex feelings of adolescents and among whom it is intended to circulate? In other words, does it constitute an unwholesome exploitation for commercial gain.Other relevant considerations are whether the picture is relevant to the subject matter of the magazine. That is to say, whether its publication serves any preponderating social or public purpose, in relation to art, painting, medicine, research or reform of sex.

    iv)   A photograph or a painting is a work of art and the artist enjoys artistic liberty in its portrayal. However, it is to be understood that a work of art is enjoyed, judged and appreciated by the connoisseurs. The pages of a newspaper may not be the most appropriate place for such painting.

    v)      The globalisation and liberalisation does not give licence to the media to misuse freedom of the press and to lower the values of the society.  The media performs a distinct role and public purpose which require it to rise above commercial consideration guiding other industries and businesses.  So far as that role is concerned, one of the duties of the media is to preserve and promote our cultural heritage and social values.

    vi)     Columns such as ‘Very Personal’ in a newspaper replying to personal queries of the readers must not become grossly offensive presentations, which either outrage public decency or corrupt public moral.

    vii)   The attempt of the press should be to ensure coverage that is in keeping with the norms of the society at large and not merely a few. It is also our duty to prevent the degeneration of culture and standards and press with its reach and impact carries an immense potential in moulding the psyche and thought process of a society.

    viii)   The Indian reader is much more mature and able to appreciate good journalism and in the long run, the attempts to copy the west by promoting the ‘so-called popular permissiveness’ may defeat  the very aim of the paper to boost circulation.

    (ix) The newspaper may expose the instances of  immoral activities in pubic places through its  writings but with proper caution of restrained presentation of news or photographic evidence.

    18. Glorification/encouragement of social evils to be eschewed

    Newspapers shall not allow their columns to be misused for writings which have a tendency to encourage or glorify social evils like Sati Pratha or ostentatious celebrations.

    19.     Violence not to be glorified

    i) Photo Coverage on Terrorist Attack, Communal Clashes and Accidents   While reporting news with regard to terrorist attacks or communal riots, the media should refrain from publishing/telecasting pictures of mangled corpses or any other photographic coverage which may create terror, or revulsion or ignite communal passion among people.

    ii) Newspapers/journalists shall avoid presenting acts of violence, armed robberies and terrorist activities in a manner that glorifies the perpetrators on their acts, declarations or death in the eyes of the public. Publication of interviews of anti-social elements by the newspapers glorifying the criminals and their activities with the resultant effects are to be avoided.

    20)    Covering communal disputes/clashes

    i) News, views or comments relating to communal or religious disputes/clashes shall be published after proper verification of facts and presented with due caution and restraint in a manner which is conducive to the creation of an atmosphere congenial to communal harmony, amity and peace. Sensational, provocative and alarming headlines are to be avoided. Acts of communal violence or vandalism shall be reported in a manner as may not undermine the people's confidence in the law and order machinery of the State. Giving community-wise figures of the victims of communal riot, or writing about the incident in a style which is likely to inflame passions, aggravate the tension, or accentuate the strained relations between the communities/religious groups concerned, or which has a potential to exacerbate the trouble, shall be avoided.

    ii) Journalists and columnists owe a very special responsibility to their country in promoting communal peace and amity.  Their writings are not a mere reflection of their own feelings but help to large extent in moulding the feelings and sentiments of the society at large.  It is, therefore, of utmost importance that they use their pen with circumspection and restrain.

    iii) The role of media in such situations (Gujarat Carnage/Crisis) is to be peacemakers and not abettors, to be troubleshooters and not troublemakers.  Let the media play their noble role of promoting peace and harmony among the people in the present crisis in Gujarat.  Any trend to disrupt the same either directly or indirectly would be an anti-national act.  There is a greater moral responsibility on the media to do their best to build up the national solidarity and to re-cement the communal harmony at all levels remembering the noble role they had played during the pre-independence days.

    iv) The media, as a chronicle of tomorrow’s history, owes an undeniable duty to the future to record events as simple untailored facts.  The analysis of the events and opinion thereon are a different genre altogether.  The treatment of the two also thus has necessarily to be different. In times of crisis, facts unadorned and simply put, with due care and restraint, cannot be reasonably objected to in a democracy.  However, a heavy responsibility devolves on the author of opinion articles.   The author has to ensure that not only are his or her analysis free from any personal preferences, prejudices or notions, but also they are based on verified, accurate and established facts and do not tend to foment disharmony or enmity between castes, communities and races.

    v)  While the role and responsibility of the media in breaking down communal fences and promoting harmony and national interest should not be undermined it is also essential to allow the citizens their freedom of speech. The press of India has necessarily to judge and balance the two.

    21.     Headings not to be sensational/provocative and must justify the matter printed under them

    i) In general and particularly in the context of communal disputes or clashes

    a. Provocative and sensational headlines are to be avoided;

    b. Headings must reflect and justify the matter printed under them

    c. Headings containing allegations made in statements should either identify the body or the source making it or at least carry quotation marks.

    22.     Caste, religion or community references

    i)       In general, the caste identification of a person or a particular class should be avoided, particularly when in the context it conveys a sense or attributes a conduct or practice derogatory to that caste.

    ii)      Newspapers are advised against the use of word 'Scheduled Caste' or 'Harijan' which has been objected to by some.

    iii)     An accused or a victim shall not be described by his caste or community when the same does not have anything to do with the offence or the crime and plays no part either in the identification of any accused or proceeding, if there be any.

    iv)     Newspaper should not publish any fictional literature distorting and portraying the religious or well known characters in an adverse light  offending the susceptibilities of large sections of society who hold those characters in high esteem, invested with attributes of the virtuous and lofty.

    (v)     Commercial exploitation of the name of prophets, seers or deities is repugnant to journalistic ethics and good taste.

    vi)     It is the duty of the newspaper to ensure that the tone, spirit and language of a write up is not objectionable, provocative, against the unity and integrity of the country, spirit of the constitution, seditious and inflammatory in nature or designed to promote communal disharmony.  It should also not attempt to promote balkanisation of the country.

    vii)   One of the jobs of the journalists is also to bring forth to the public notice the plight of the weaker sections of society.  They are the watchdogs on behalf of the society of its weaker sections.

    23.     Paramount national interest

    i) Newspapers shall, as a matter of self-regulation, exercise due restraint and caution in presenting any news, comment or information which is likely to jeopardise, endanger or harm the paramount interests of the State and society, or the rights of individuals with respect to which reasonable restrictions may be imposed by law on the right to freedom of speech and expression under clause (2) of Article 19 of the Constitution of India.

    ii) Publication of wrong/incorrect map is a very serious offence.  It adversely affects the territorial integrity of the country and warrants prompt and prominent retraction with regrets.

    24.     Foreign Relations

    Media plays a very important role in moulding public opinion and developing better understanding between countries.  Objective reporting so as not to jeopardise friendly bilateral relations is therefore desirable.

    25.Newspapers may expose misuse of diplomatic immunity
    The media shall make every possible effort to build bridges of co-operation, friendly relations and better understanding between India and foreign States. At the same time, it is the duty of a newspaper to expose any misuse or undue advantage of the diplomatic immunities.

    26.    Investigative journalism, its norms and parameters

    Investigative reporting has three basic elements.

    a. It has to be the work of the reporter, not of others he is reporting;

    b.  The subject should be of public importance for the reader to know;

    c. An attempt is being made to hide the truth from the people.

    The first norm follows as a necessary corollary from

    (a) That the investigative reporter should, as a rule, base his story on facts  investigated, detected and verified by himself and not on hearsay or on.derivative evidence collected by a third party, not checked up from direct, authentic sources by the reporter himself.

    (b) There being a conflict between the factors which require openness and those which necessitate secrecy, the investigative journalist should strike and maintain in his report a proper balance between openness on the one hand and secrecy on the other, placing the public good above everything.

    (c) The investigative journalist should resist the temptation of quickies or quick gains conjured up from half-baked incomplete, doubtful facts, not fully checked up and verified from authentic sources by the reporter himself.

    (d)     Imaginary facts, or ferreting out or conjecturing the non-existent should be scrupulously avoided. Facts, facts and yet more facts are vital and they should be checked and cross-checked whenever possible until the moment the paper goes to Press.

    (e)      The newspaper must adopt strict standards of fairness and accuracy of facts. Findings should be presented in an objective manner, without exaggerating or distorting, that would stand up in a court of law, if necessary.

    (f) The reporter must not approach the matter or the issue under     investigation, in a manner as though he were the prosecutor or counsel for the prosecution. The reporter's approach should be fair, accurate and balanced. All facts properly checked up, both for and against the core issues, should be distinctly and separately stated, free from any one-sided inferences or unfair comments. The tone and tenor of the report and its language should be sober, decent and dignified, and not needlessly offensive, barbed, derisive or castigatory, particularly while commenting on the version of the personwhose alleged activity or misconduct is being investigated. Nor should the investigative reporter conduct the proceedings and pronounce his verdict of guilt or innocence against the person whose alleged criminal acts and conduct were investigated, in a manner as if he were a court trying the accused.
    (g)     In all proceedings including the investigation, presentation and publication of the report, the investigative journalist newspaper should be guided by the paramount principle of criminal jurisprudence, that a person is innocent unless the offence alleged against him is proved beyond doubt by independent, reliable evidence.

    (h) The private life, even of a public figure, is his own. Exposition or invasion of his personal privacy or private life is not permissible unless there is clear evidence that the wrong doings in question have a reasonable nexus with the misuse of his public position or power and has an adverse impact on public interest.

    (i) Though the legal provisions of Criminal Procedure do not in terms, apply to investigating proceedings by a journalist, the fundamental principles underlying them can be adopted as a guide on grounds of equity, ethics and good conscience.

    j)  To say that the press should not publish any information, till it is officially released would militate against the spirit of investigative journalism and even to an extent the purpose of journalism.

    27.     Confidence to be respected

    If information is received from a confidential source, the confidence should be respected. The journalist cannot be compelled by the Press Council to disclose such source; but it shall not be regarded as a breach of journalistic ethics if the source is voluntarily disclosed in proceedings before the Council by the journalist who considers it necessary to repel effectively a charge against him/her. This rule requiring a newspaper not to publish matters disclosed to it in confidence, is not applicable where:

    (a) consent of the source is subsequently obtained; or

    (b) the editor clarifies by way of an appropriate footnote that since the publication of certain matters were in the public interest, the information in question was being published although it had been made 'off the record'.

    28. Newspapers to avoid crass commercialism
    i)While newspapers are entitled to ensure, improve or strengthen their financial viability by all legitimate means, the Press shall not engage in crass commercialism or unseemly cut-throat commercial competition with their rivals in a manner repugnant to high professional standards and good taste.

    ii)      Predatory price wars/trade competition among newspapers, laced with tones disparaging the products of each other, initiated and carried on in  print, assume the colour of unfair 'trade’ practice, repugnant to journalistic ethics. The question as when it assumes such an unethical character, is one of the fact depending on the circumstances of each case.

    iii)     The practice of taking security deposit by an editor from the journalists at the time of their appointment is unethical.

    (iv) The media house must retain its impartiality in functioning as media house and reporting cannot be permitted to become subservient to other business interests which the owner of the media house may have. When such private interest conflict with public duty of such vast magnitude segregation of the two is not only justified but essential.

    29.     Fraudulent Activities

    Defrauding the public by closing down a publication subsequent to collection of subscription is unethical on the part of management of the paper/periodical/magazine. If the closure is inevitable, the subscription amount due should be returned to the subscribers.

    30.     Professional Misconduct

    Dlackmailing or extortion of money from people under threat of maligning them through the columns of newspaper amounts to gross violation of journalistic norms.

    31.     Professional Rivalry

    Newspaper columns should not be misused by rival newspapers to gratify their private spite against each other out of commercial rivalry.

    32.     Plagiarism

    i)       Using or passing off the writings or ideas of another as one’s own, without crediting the source, is an offence against ethics of journalism.

    ii)Violation of copyright also constitutes violation of journalistic norms.

    33.  Unauthorised lifting of news

    i) The practice of lifting news from other newspapers publishing them subsequently as their own, ill-comports the high standards of journalism. To remove its unethicality the 'lifting' newspaper must duly acknowledge the source of the report.

    ii) The position of features articles is different from 'news': Feature articles shall not be lifted without permission/ proper acknowledgement.

    34. Illegal Reproduction  The Press shall not reproduce in any form offending portions or excerpts from a proscribed book.

    .35.Non-return of unsolicited material

    i) A paper is not bound to return unsolicited material sent for consideration of publication. However, when the same is accompanied by stamped envelope, the paper should make all efforts to return it.

    ii) Whenever articles from the contributors are published free of remuneration, there must be an agreement not to pay and the newspaper should follow this practice as a rule.

    36.Advertisements

    i) No advertisement shall be published, which promotes directly or indirectly production, sale or consumption of cigarettes, tobacco products, wine, alcohol, liquor and other intoxicants.

    ii) Newspaper shall not publish advertisements, which have a tendency to malign or hurt the religious sentiments of any community or section of society.

    iv) Advertisements which offend the provisions of the Drugs and Magical Remedies (Objectionable Advertisement) Act as amended in 2002, or any other statute should be rejected.

    v) Newspapers should not publish an advertisement containing anything which is unlawful or illegal, or is contrary to public decency, good taste or to journalistic ethics or propriety.

    vi) Journalistic propriety demands that advertisements must be clearly distinguishable from editorial matter carried in the newspaper.  Newspapers while publishing advertisements should specify the amount received by them. The rationale behind this is that advertisements should be charged at rates usually chargeable by a newspaper since payment of more than the normal rates would amount to a subsidy to the paper.

    vii) Publication of dummy or lifted advertisements that have neither been paid for, nor authorised by the advertisers, constitute breach of journalistic ethics specially when the paper raises a bill in respect of such advertisements.

    viii) Deliberate failure to publish an advertisement in all the copies of a newspaper offends against the standards of journalistic ethics and constitutes gross professional misconduct.

    ix) There should be total co-ordination and communication between the advertisement department and the editorial department of a newspaper in the matter of considering the legality propriety or otherwise of an advertisement received for publication.

    x) The editors should insist on their right to have the final say in the acceptance or rejection of advertisements, specially those which border on or cross the line between decency and obscenity.

    xi) Newspapers to carry caution notice with matrimonial advertisements carrying following text *  “Readers are advised to make appropriate thorough inquiries before acting upon any advertisement.  This newspaper does not vouch or subscribe to claim and representation made by the advertiser regarding the particulars of status, age, income of the bride/bridegroom”.
    xii) An editor shall be responsible for all matters, including advertisements published in the newspaper. If responsibility is disclaimed, this shall be explicitly stated beforehand.

    * Foot note: - The Hon’ble High Court of Delhi in connection with  FAO  No 65/1998 of  Smt Harjeet Kaur Vs  Shri  Surinder Pal Singh directed the Press Council of India to instruct the newspaper to publish classified/matrimonial advertisement by advising them to alongside publish  the said  Caution Notice in their newspapers.

    xiii) Tele-friendship advertisements carried by newspapers across the country inviting  general public to dial the given number for ‘entertaining’ talk and offering suggestive tele-talk  tend to  pollute adolescent minds and promote immoral cultural ethos. The Press should refuse to accept such advertisements.

    xiv)  Classified advertisements of health and physical fitness services using undignified languages, indicative of covert soliciting, are violative of law as well as ethics. The newspaper should adopt a mechanism for vetting such an advertisement to ensure that the soliciting advertisements are not carried.

    xv) Advertisements of contraceptive and supply of brand item attaching to the advertisement is not very ethical, given the social milieu and  the traditional values held dear in our country. A newspaper has a sacred duty to educate people about precautionary measures to avoid AIDS and exhibit  greater far sight in accepting advertisement even though issued by social welfare  organisation.   (xvi) Employment News which is trusted as a purveyor of authentic news on    government jobs should be more careful in accepting advertisements of only bonafide  private bodies.(xvii) While accepting advertisements of educational institutes newspapers may ensure that such advertisements carry the mandatory statement that the concerned institutes are recognized  under the relevant enactments of law.

    xviii)  Advertisements play extremely vital role in shaping the values and concerns of the present day society and as  more and more lenient view is taken of what is not the norm, the speedier may be acceptability of such matters in ‘public perception’  but at what cost is the essential point for consideration. It should be borne in mind that in the race to be globally relevant we do not leave behind the values that have earned India the unique place it enjoys globally on moral and ethical plane.

    37.     Internal Disputes
    (A) Management-Editor Relationship
    i)There is a well-recognised distinction between the editor and the journalists on the one hand and the Manager, the Executive or the Administrator on the other, whatever the nomenclature that they may carry in a particular newspaper establishment.  The duties and responsibilities of the editor and the management differ and whatever the co-ordination may be required to efficiently manage the establishment to bring out the journal, the functions of the two are separate and have to kept as such.

    Once the owner lays down the policy of the newspaper for general guidance, neither he nor anybody on his behalf can interfere with the day to day functioning of the editor and the journalistic staff working under him.

    It is well established that the freedom of the press is essentially the freedom of the people to be informed accurately and adequately on all issues, problems, events and developments.  In discharge of the editorial functions the editor is supreme and superior even to the owner.

    The independence of the newspaper, is essentially the independence of the editor from all internal and external restrictions.  Unless the editor enjoys this freedom he will be unable to discharge his primary duty which is to the people and without such freedom, he can be held responsible in law for all that appears in the newspaper.

    In the running of the newspaper, the managerial, administrative or business side of the newspaper has to be kept independent of its editorial side and should not be allowed to encroach upon or interfere with the editorial section.  This precaution is to be taken even when the owner and the editor is the same.  The proprietor must not allow his business interests and considerations to either dominate or interfere with the newspapers obligation to the people.

    That is why there is also an obligation on the management to select a person as the editor who is competent and bears integrity of character and independence of mind.

    The successful arrangement in the ultimate analysis would depend on mutual understanding, cooperation and goodwill between the management, the editor, editorial journalist staff and all those who are faithfully working of any working in the production of a paper.

    If the co-ordination between the different departments including the editorial is effected by the Brand Management without in any way interfering with the freedom of the editor to include or exclude news or views, the length or details as well as their language and the place where they are to be published, and the prominence with which they should appear, there may not be much grievance  that such  co-ordination is in violation of the freedom of the editor.  However, if the choice of the editor with regard to selection of material in any manner is sought to be interfered with, it is undoubtedly an unwarranted encroachment on the said freedom.

    (ii) The editor under no circumstances can be asked by the proprietor to serve his private interests.  To require an editor to cater to the personal interests of the proprietor is not only to demean the office of the editor but also to encroach upon his status as a trustee of the society in respect of the contents of the newspaper.    In any country which swears by the freedom and the independence of the press, an attempt by any proprietor of a newspaper to use his editor as his personal agent to promote his private interests and to compel him to act and to write, to serve them is both offensive and reprehensive.  Any editor or for that matter any journalist who accepts or condescends to do such jobs not only degrades himself but also the profession of journalism and does not deserve the calling.  He betrays the trust the society keeps in him for furnishing fair, objective and comprehensive news and views.

    (B.)    Management vis-à-vis Journalist : Functional Relationship  Direction of the newspaper management to the reporter to perform administrative / commercial side of the duty other than his journalistic duty is an unethical practice and impinges on the independence of journalists, destroying the functional relationship.

    38.  Astrological Prediction

    The promotion of astrological prediction and superstitious practices is likely to produce an unsettling effect on the minds of the readers, and   is thus undesirable. The editors of general interest dailies and periodicals who believe in promoting  a scientific temper and in  combating superstition and fatalism, should avoid publication of astrological predictions. Readers who are interested in the subject of astrology can turn to specialized publications on the subject.

    39. Reporting on Natural Calamities

    (i)  Facts and data relating to spread of epidemics or natural calamities shall be checked up thoroughly from authentic sources and then published with due restraint in a manner bereft of sensationalism, exaggeration, surmises or unverified facts.

    (ii) Natural or man made hazards become disasters through acts of commission and omission of the society. Therefore, the disastrous impact can be minimized by preventive action taken by all the stakeholders including the media.

    (iii)  Media should give wide publicity to the do’s and don’ts and the potential benefits of disaster mitigation so that the society follows them before, during and after the occurrence of the disasters. People should be detailed on standard guidelines.  The issues of children and women which are the most vulnerable groups during and after disaster should be handled carefully by the media.

    (iv)  It is necessary to have complete cooperation between the media and all governmental and non governmental agencies. The extent of the coordination and cooperation between them determines the nature, the degree and the scale of the preparedness to prevent or meet the disasters.

    40.    HIV/AIDS and the Media – DO’S and DON’TS

    DO’S
    DON’TS
    Don’t sensationalise the story
    Introduction
    o	Media must inform and educate the people, not alarm or scare them
    o	Be objective, factual and sensitive
    o	Keep abreast with changing realities of fast-evolving infection
    o	Use appropriate language and terminology that is non-stigmatising
    o	Ensure headlines are accurate and balanced
    o	Be responsible; give all sides of the picture, using voices of people living with HIV and AIDS (PLHIVs)
    o	Dispel misconceptions about prevention and transmission
    o	Debunk myths about miracle cures and unscientific claims of protection from infection
    o	Highlight positive stories without underplaying seriousness of the issue
    o	Uphold confidentiality of infected people, their families and associates
    o	Ensure photographs do not breach their confidentiality
    o	Ensure photo captions are accurate
    o	Ensure gender sensitive reporting and avoid stereotyping
    o	Obtain data from authorised sources as inaccurate reports have adverse impact on morale and increase stigma
    o	Journalists are responsible for ensuring interviewees understand repercussions of revelations/identification
    o	Ensure informed consent, in written form wherever possible
    o	Balance coverage of a negative story like HIV-related suicide or incidence of discrimination by including contacts of helplines/counselling centres
    o	Broaden reportage to examine impact of infection on economic, business, political and development issues
    o	When in doubt contact the local network of positive people or state aids control society or existing terminology guidelines for clarification
    o	Ensure questions are not deeply personal or accusatory
    o	Show PLHIVs in  a positive light by portraying them as individuals instead of ‘victims’

    o	Don’t make value judgements that seek to blame PLHIVs
    o	Don’t use terms like ‘scourge’ to describe the infection or describe PLHIVs as AIDS carrier, prostitute, drug addict, AIDS patient/victim/sufferer
    o	Don’t focus needlessly on how a PLHIV was infected
    o	Don’t identify children infected and affected by HIV and AIDS by name or through a photograph even with consent
    o	Don’t use hidden cameras
    o	Avoid alarmist reports and images of the sick and dying that convey a sense of gloom, helplessness and isolation
    o	Don’t use skull, crossbones, snakes or such visuals as graphics
    o	Avoid references to caste, gender or sexual orientation
    o	Don’t reinforce stereotypes about sexual minorites including those who are lesbian, gay, bisexual or transgender (LGBT)
    o	Don’t portray infected persons as victims, culprits or objects of pity
    o	Don’t promote misleading advertisements related to HIV, STIs, skin diseases, tuberculosis and other opportunistic infections
    Don’t breach the confidentiality of those opting for voluntary testing

    41. (A) Trial By Media
    Introduction
    The media and judiciary are two vital pillars of democracy and natural allies, one compliments the other towards the goal of a successful democracy. Measures which are necessary for due process of law need to take precedence over freedom of speech. In a conflict between fair trial and freedom of speech, fair trial has to necessarily prevail because any compromise of fair trial for an accused will cause immense harm and defeat justice delivery system. Thus, mediapersons should be duly trained and imparted basic knowledge about functioning of courts and processes of law.
    i) An accused is entitled to the privilege of presumption of being innocent till guilt is pronounced by the Court.
    ii) The media reports should not induce the general public to believe in the complicity of the person indicted as such kind of action brings undue pressure on the course of fair investigation by the police.
    iii) Publishing information based on gossip about the line of investigation by the official agencies on the crime committed gives such publicity to the incident that may facilitate the person who indeed committed the crime to move to safer place.
    iv) It is not always advisable to vigorously report crime related issues on a day to day basis nor to comment on supposed evidence of the crime without ascertaining the factual matrix.
    v) While media’s reporting at the investigation stage in a criminal case may ensure a speedy and fair investigation, disclosure of confidential 8 information may also hamper or prejudice investigation. There cannot therefore be an unrestricted access to all the details of the investigation.
    vi) Victim, Witnesses, Suspects and accused should not be given excessive publicity as its amounts to invasion of their privacy rights.
    vii) Identification of witnesses by the newspapers/media endanger them to come under pressure from both, the accused or his associates as well as investigative agencies. Thus, media should not identify the witnesses as they may turn hostile succumbing to the pressure.
    viii) The suspect’s picture should not be shown as it may create a problem during ‘identification parades’ conducted under the Code of Criminal Procedure for identifying the accused.
    ix) The media is not expected to conduct its own parallel trial or foretell the decision putting undue pressure on the judge, the jury or the witnesses or prejudice a party to the proceedings.
    x) The reporting on post trial/hearing often consists of reporting on the decision handed down. But when there is a time lag between the conclusion of the proceedings and the decision, the comments on the concluded proceedings, including discussion on evidence and/or arguments, aimed at influencing the forthcoming decision must be avoided.
    xi) Media having reported an initial trial is advised to follow up the story with publication of final outcome by the court, whenever applicable.
    (B) Guidelines on Sting Operations
    i) A newspaper proposing to report a sting operation shall obtain a certificate from the person who recorded or produced the same certifying that the operation is genuine and bonafide.
    ii) There must be concurrent record in writing of the various stages of the sting operation.
    iii) Decision to report the sting operation should be taken by the editor after satisfying himself of the public interest of the matter and ensuring that report complies with all legal requirements.
    iv) Sting operation published in print media should be scheduled with an awareness of the likely reader in mind. Great care and sensitivity should be exercised to avoid shocking or offending the reader.
    42.   Norms for Photo Journalism

    Since a picture or visual presentation of news creates a stronger and more lasting impression on the readers and viewers than mere words, photojournalists and other visual news producers have to be a lot more responsible and careful in the discharge of their duties. They must, therefore, ensure that in keeping with the high standards of journalism, their presentations are always in public interest, fair, accurate, unbiased, sober and decent.

    Adherence to the following do’s and don’ts will surely help them      self-regulate their conduct and maintain their professional integrity and high standards:

    <h4>DO’S</h4>
    <ul style="list-style:square;">
        <li>Images should be accurate and comprehensive and the subjects be presented in proper context.</li>
        <li>All subjects should be treated with respect and dignity. Special consideration be given to vulnerable subjects and   victims of crime or tragedy be treated compassionately. Private grief be intruded only when the public has an overriding and justifiable interest in sharing or viewing it.</li>
        <li>While editing a visual, the maintenance of the integrity of the content and context of the photographic images should be ensured.    Images should not be manipulated neither should there be addition or alteration in sound in any way that can mislead viewers or misrepresent subjects.</li>
        <li>Strive to be unobtrusive and humble in dealing with subjects.</li>
        <li>The integrity of the photographic moment should be respected.</li>
        <li>Pictures should not reflect anything that is obscene, vulgar or offensive to good public taste.</li>
        <li>Strive to ensure that the public's business is conducted in public. Defend the rights of access for all journalists.</li>
        <li>Strive for total and unrestricted access to subjects and recommend alternatives to shallow or rushed opportunities.</li>
        <li>Seek a diversity of viewpoints and work to show unpopular or unnoticed points of view.</li>
        <li>Strive by example and influence to maintain the spirit and high standards expressed in this code. When confronted with situations in which proper action is not clear, seek the counsel of those who exhibit the highest standards of the profession.</li>
    </ul>
   


    <h4>DON’TS</h4>

    <ul style="list-style:square;">
        <li>A newspaper proposing to report a sting operation shall obtain a certificate from the person who recorded or produced the same certifying that the operation is genuine and bonafide.</li>
        <li>There must be concurrent record in writing of the various stages of the sting operation.</li>
        <li>Decision to report the sting operation should be taken by the editor after satisfying himself of the public interest of the matter and ensuring that report complies with all legal requirements.</li>
        <li>Sting operation published in print media should be scheduled with an awareness of the likely reader in mind. Great care and sensitivity should be exercised to avoid shocking or offending the reader.</li>
        <li>While photographing subjects do not intentionally contribute to, alter, or seek to alter or influence events.</li>
        <li>The privacy of an individual should not be intruded or invaded unless it is outweighed by genuine overriding public interest, not by a prurient or morbid curiosity.</li>
        <li>While covering terrorist attacks, communal riots or other acts of violence, do not show mangled corpses or such other images as cause revulsion or terror or rouse communal or sectarian passions.</li>
        <li>Do not get manipulated by staged photo opportunities.</li>
        <li>Do not accept gifts, favours or compensation from those who might seek to influence the coverage.</li>
        <li>Avoid political, civic or business involvements or employment that could compromise or appear to compromise their professional independence.</li>
        <li>No payment or material reward should be made to the sources or subject for information or participation.</li>
        <li>The work should not reflect any kind of biases.</li>
        <li>Do not intentionally sabotage the efforts of other journalists.</li>
    </ul>
    </div>
