
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paragraghStyle">
    <h2>Contact</h2>

    <p style="font-size:16px;">Imprint</p>
    <p style="font-weight:bold;font-size:20px;">Bhartiya Vrutta Sanstha</p>
    <p style="font-weight:bold;font-size:15px;">An Independent News Agency</p>
    <p>
        <b>Regt. Address -</b> 67, Katraj, Pune. 411046.
    </p>
    <p>
        <b>Office –</b> 220/PT, Shankarsheth Road, Swargate. Pune. 411037.
    </p>
    <p>
        <b>Contact -</b> +9198-2348-6328, +9198-6089-4158
    </p>
    <p>
        <b>Email -</b> admin@vruttasanstha.org, editor@vruttasanstha.org
    </p>
    <p>
        <b>Website - </b> http://vruttasanstha.org
    </p>
    <p>
        <b>Copyright 2016</b> © Sahyadri Newscorps – Executive Trustee for Bhartiya Vrutta Sanstha.
    </p>
</div>