
@{
    ViewBag.Title = "LegalDisclaimer";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paragraghStyle">
    <h2>Legal Disclaimer</h2>

    <p>
        Bhartiya Vrutta Sanstha retains copyright on all the text, graphics and trademarks displayed on this site. All the text, graphics and trademarks displayed on this site are owned by Bhartiya Vrutta Sanstha and Executive Trustee – Sahyadri Newscorps and used under licence by Bhartiya Vrutta Sanstha affiliates.
    </p>
    <p>
        You may print copies of the information on this site for your personal use and store the files on your computer for personal use. You may not distribute text or graphics to others without the express written consent of Bhartiya Vrutta Sanstha and its affiliates. Also, you may not, without our permission, copy and distribute this information on any other server, or modify or reuse text or graphics on this or any another system.
    </p>
    <p>
        No reproduction of any part of the site may be sold or distributed for commercial gain, nor shall it be modified or incorporated in any other work, publication or site, whether in hard copy or electronic format, including postings to any other site. Bhartiya Vrutta Sanstha and its affiliates reserves all other rights.
    </p>
    <p>
        The information on this site has been included in good faith and is for general purposes only. It should not be relied upon for any specific purpose and no representation or warranty is given as regards its accuracy or completeness.
    </p>
    <p>
        No information on this site shall constitute an invitation to invest, join, and associate with Bhartiya Vrutta Sanstha or any of its affiliates. Neither Bhartiya Vrutta Sanstha and its affiliates, nor their or their affiliates' officers, employees or agents shall be liable for any loss, damage or expense arising out of any access to or use of this site or any site linked to it, including, without limitation, any loss of profit, indirect, incidental or consequential loss.
    </p>
</div>