
@{
    ViewBag.Title = "OrganizationProfile";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paragraghStyle">
    <h2>Organization Profile</h2>

    <p>
        Bhartiya Vrutta Sanstha is an Independent news agency that was established under the Indian Trust Act, 1882 on 1st August 2015 at Pune, India. It was founded by Mukul Potdar – a working journalist & researcher based in Maharashtra in association with Dnyaneshwar Raut – a Microbiology Graduate and Mass Communication & Journalism Fellow.
    </p>
    <p>
        The News Agency was initially was primarily founded as a first independent Marathi news agency in India. Later on the agency has also launched its English news service.
    </p>
    <p>
        Principally, Bhartiya Vrutta Sanstha – works to deliver in-depth coverage on rural areas, strategic & geopolitical affairs, science and technology, politics, etc.
    </p>
</div>