
@{
    ViewBag.Title = "WhatWeServe";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paragraghStyle">
    <h2>What We Serve</h2>
    <p>
        The Bhartiya Vrutta Sanstha is an accurate and independent provider of news with the digital and multimedia content to power the media outlets. Our news gathering and processing is free from any influence.
    </p>
    <p>
        The Agency follows the ethics and principles lays down by the Vruttasanstha Editorial Board – an Independent body established by Bhartiya Vrutta Sanstha, that contains people and scholars from different field. Therefore, reporting is free of bias and unfettered by any political, economic or governmental ideologies.
    </p>
    <p>
        The News agency has also initiated some programs and research and development centers to build the capacity as news agency and enhance its work.
    </p>
    <p>
        Our subscriber includes newspapers, magazines, online portals, etc. who gets reliable content through our networks of journalists and syndicate of media and others.
    </p>
</div>