
@{
    ViewBag.Title = "WhoWeAre";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paragraghStyle">
    <h2>Who We Are</h2>

    <p>
        Vruttasanstha is a Journalism and mass media organization that provides news wire service, information and data to the publishers, broadcasters, commercial establishments and other professionals in different languages and in multimedia form.
    </p>
    <p>
        The organization was formed by a group of journalists on 1st August 2015. The organization had launched its services on 12th January 2016 at Pune, India.
    </p>
    <p>
        The Agency tends to work with special emphasis on geopolitics, rural and agriculture, and economics.
    </p>
    <p>
        Bhartiya Vrutta Sanstha is also a member of "Sahyadri Vrutta Sangha" - a news exchange vehicle set up by the news and publication outlets.
    </p>
    <p>
        Vruttasanstha is run by an Editorial Board that is headed by a Chairman and the day-to-day administration and management is headed by the Executive Editor, who is also Chief Executive Officer of the organization.
    </p>
</div>